In [6]:
import pandas as pd
import numpy as np

In [7]:
leadership_average = pd.read_csv('/Users/garimajain/Desktop/Leadership_Average_2.csv')

In [9]:
df1 = leadership_average[['Facebook','LinkedIn','Pinterest','Tumblr','Twitter','Google','Apple','eBay']].iloc[0:]

In [10]:
df1['Leadership Average'] = df1.mean(axis=1)

In [11]:
df1.round()

,Facebook,LinkedIn,Pinterest,Tumblr,Twitter,Google,Apple,eBay,Leadership Average
0,23,25,19.0,23,21,21,28,28,23.0
1,77,75,81.0,77,79,79,72,72,77.0
2,74,65,NaN,63,72,72,64,72,68.0
3,19,28,NaN,24,24,23,21,23,22.0
4,4,4,NaN,6,0,1,6,2,4.0
5,2,1,NaN,3,2,1,3,2,2.0
6,1,3,NaN,2,0,1,0,1,1.0
7,0,<1,NaN,2,2,<1,6,<1,2.0
8,23,30,16.0,24,22,22,28,29,23.0
9,77,70,84.0,76,78,78,72,71,77.0
10,73,63,47.0,73,72,72,63,71,66.0
11,21,30,42.0,19,28,23,21,24,26.0
12,3,4,0.0,2,0,1,6,2,2.0
13,2,1,0.0,1,0,2,3,2,1.0
14,1,2,11.0,2,0,2,0,1,3.0
15,1,0,0.0,3,0,<1,6,<1,2.0
16,27,35,17.0,22,30,24,28,32,25.0
17,73,65,83.0,78,70,76,72,68,75.0
18,71,63,70.0,72,74,70,67,65,71.0
19,21,30,22.0,22,20,25,21,29,21.0
20,3,3,4.0,3,3,1,7,3,4.0
21,3,1,0.0,0,2,2,3,2,2.0
22,2,3,4.0,0,1,2,1,1,2.0
23,1,0,0.0,4,0,<1,0,0,1.0

In [12]:
df1.to_csv('LeadershipAverage.csv', index=False, encoding='utf-8')