In [8]:
import pandas as pd
import numpy as np

In [9]:
tech_average = pd.read_csv('/Users/garimajain/Desktop/Tech_Average_2.csv')

In [11]:
df1 = tech_average[['Facebook','LinkedIn','Pinterest','Tumblr','Twitter','Google','Apple','eBay']].iloc[0:]

In [12]:
df1['Tech Average'] = df1.mean(axis=1)

In [13]:
df1.round()

,Facebook,LinkedIn,Pinterest,Tumblr,Twitter,Google,Apple,eBay,Tech Average
0,15,17,21.0,15,10,17,20,24,16.0
1,85,83,79.0,85,90,83,80,76,84.0
2,53,34,NaN,35,58,60,54,40,50.0
3,41,60,NaN,57,34,33,23,55,39.0
4,3,3,NaN,3,3,2,7,2,4.0
5,1,1,NaN,1,1,1,6,2,2.0
6,2,1,NaN,1,2,3,2,1,2.0
7,0,<1,NaN,2,2,<1,8,<1,3.0
8,16,18,21.0,16,13,18,21,24,17.0
9,84,82,79.0,84,87,82,79,76,83.0
10,51,34,35.0,31,56,59,53,39,45.0
11,43,61,60.0,61,37,35,25,56,45.0
12,3,3,2.0,3,3,2,8,2,4.0
13,1,1,1.0,1,1,1,7,2,2.0
14,2,1,2.0,1,1,3,2,<1,2.0
15,0,<1,0.0,3,2,<1,6,<1,2.0
16,17,20,26.0,17,15,19,23,22,20.0
17,83,80,74.0,83,85,81,77,78,80.0
18,48,35,36.0,31,52,57,55,31,44.0
19,46,59,57.0,62,39,37,27,65,46.0
20,3,3,3.0,2,4,3,8,2,4.0
21,1,1,2.0,1,2,1,8,1,3.0
22,2,2,2.0,1,3,3,2,1,2.0
23,1,1,0.0,3,1,<1,1,0,1.0

In [14]:
df1.to_csv('TechAverage1.csv', index=False, encoding='utf-8')